.container{
    display: flex;
    background: lightgray;
    margin-bottom: 20px;
}

.child-1{
    background: red;
    width: 500px;
}
.child-2{
    background: green;
    width: 500px;
}
.child-3{
    background: blue;
    width: 500px;
}
/*
flex-basis thay đổi chiều rộng cho phần tử (flex-basis mặc định là auto)*/
/*
**=== lưu ý: nếu fix kích thước là 500 như thằng child 1 thì sau nàu content sẽ chỉ hiển thị đến đủ chiều rộng đó rồi xuống dòng*/
/***=== Lưu ý 2: nếu tổng kích thước của 3 thằng con(child-1.child-2,child-3) lớn hơn thằng cha thì kích thước ban đầu đặt ra sẽ không còn chính xác là 1500 như mong muốn nữa*/
